# The .env file should contain env var decls for:
# * VAPI_PUBLIC_KEY
# * VAPI_PRIVATE_KEY
# * VAPI_PHONE_NUMBER_ID
# * VAPI4K_BASE_URL

# It should look something like this:

VAPI_PUBLIC_KEY=d1492ddd-e59f-2h06-z9ab-77f44df44f69
VAPI_PRIVATE_KEY=f3ff6277-9d9b-8873-tec7-743786e2aa42
VAPI_PHONE_NUMBER_ID=8g151b80-5fff-4df9-bd67-993189409d4d
VAPI4K_BASE_URL=https://fdee-73-71-109-469.ngrok-free.app
