.gradle
.kotlin
build/
out/
secrets/
.claude/worktrees
.claude/*.lock

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/