<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{ISO8601}] %-5level %file:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ADMIN_CONSOLE" class="com.vapi4k.utils.AdminConsoleAppender">
        <encoder>
            <pattern>[%d{ISO8601}] %-5level %file:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ADMIN_CONSOLE"/>
    </root>

    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
</configuration>
